.card a.router-link-active {
    color: #4E72CA;
    /* border-bottom: 4px solid #4E72CA; */
}
.card a.router-link-active::before {
    background-color: #4e72ca;
    bottom: -16.5px;
    content: "";
    display: inline-block;
    height: 3px;
    top: 36px;
    left: 20%;
    position: absolute;
    transition: all .5s ease;
    width: 127px;
}
.card__header-wrapper {
    display: flex;
}