.hero {
    padding-top: 59px;
    padding-bottom: 31px;
}
.hero__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.hero__item {
    display: flex;
    align-items: center;
}
.hero__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__item-img {
    padding: 11px 10px 12px 13px;
    background-color: #B6CAFB;
    border-radius: 20px;
}
.hero__item-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #4A4A4A;
    padding-top: 6px;
}
.hero__item:nth-child(2) .hero__item-img{
    background-color: #B4E2E1;
    padding: 14px 14px 14px 14px;
}
.hero__item:nth-child(3) .hero__item-img{
    background-color: #FF9E83;
    padding: 12px 12px 13px 12px;
}
.hero__item:nth-child(4) .hero__item-img{
    background-color: #F7E233;
    padding: 13px 11px 12px 13px;
}
.hero__item:nth-child(5) .hero__item-img{
    background-color: #F6DAC2;
    padding: 13px 11px 12px 13px;
}
.hero__item:nth-child(6) .hero__item-img{
    background-color: #B4E2E1;
    padding: 13px 11px 12px 13px;
}
.hero__item:nth-child(7) .hero__item-img{
    background-color: #B6CAFB;
    padding: 13px 11px 12px 13px;
}
.hero__item:nth-child(8) .hero__item-img{
    background-color: #F6DAC2;
    padding: 14px 12px 12px 13px;
}
.hero__item:nth-child(9) .hero__item-img{
    background-color: #FF9E83;
    padding: 12px 13px 12px 12px;
}
.hero__item:first-child::before{
    position: absolute;
    top: 20px;
    left: -50px;
    width: 34px;
    height: 34px;
    background-image: url(/public/img/hero__left.svg);
    background-size: 20px 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.129331);
    content: '';
}
.hero__item:first-child::after{
    position: absolute;
    top: 20px;
    right: -50px;
    width: 34px;
    height: 34px;
    background-image: url(/public/img/hero__right.svg);
    background-size: 20px 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.129331);
    content: '';
}